<div>
  <div nz-row class="m-0 rounded-md shadow-lg bg-white">
    <div nz-col nzSpan="4" class="flex flex-col items-center justify-center">
      <nz-statistic [nzValueTemplate]="valueStatic1" [nzTitle]="titleStatic1" class="py-3"></nz-statistic>
      <ng-template #titleStatic1>
        <div class="flex flex-col items-center justify-center text-3xl text-green-500">
          <i nz-icon nzType="rise" nzTheme="outline"></i>
        </div>
      </ng-template>
      <ng-template #valueStatic1>
        <div class="flex flex-col items-center justify-center py-0">
          <p class="font-bold">5040</p>
          <p class="text-xs">Truy cập</p>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="4" class="flex flex-col items-center justify-center">
      <nz-statistic [nzValueTemplate]="valueStatic2" [nzTitle]="titleStatic2" class="py-3"></nz-statistic>
      <ng-template #titleStatic2>
        <div class="flex flex-col items-center justify-center text-3xl text-green-500">
          <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
        </div>
      </ng-template>
      <ng-template #valueStatic2>
        <div class="flex flex-col items-center justify-center py-0">
          <p class="font-bold">5040</p>
          <p class="text-xs">Truy cập</p>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="4" class="flex flex-col items-center justify-center">
      <nz-statistic [nzValueTemplate]="valueStatic3" [nzTitle]="titleStatic3" class="py-3"></nz-statistic>
      <ng-template #titleStatic3>
        <div class="flex flex-col items-center justify-center text-3xl text-green-500">
          <i nz-icon nzType="cluster" nzTheme="outline"></i>
        </div>
      </ng-template>
      <ng-template #valueStatic3>
        <div class="flex flex-col items-center justify-center py-0">
          <p class="font-bold">5040</p>
          <p class="text-xs">Truy cập</p>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="4" class="flex flex-col items-center justify-center">
      <nz-statistic [nzValueTemplate]="valueStatic4" [nzTitle]="titleStatic4" class="py-3"></nz-statistic>
      <ng-template #titleStatic4>
        <div class="flex flex-col items-center justify-center text-3xl text-green-500">
          <i nz-icon nzType="dollar" nzTheme="outline"></i>
        </div>
      </ng-template>
      <ng-template #valueStatic4>
        <div class="flex flex-col items-center justify-center py-0">
          <p class="font-bold">5040</p>
          <p class="text-xs">Truy cập</p>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="4" class="flex flex-col items-center justify-center">
      <nz-statistic [nzValueTemplate]="valueStatic5" [nzTitle]="titleStatic5" class="py-3"></nz-statistic>
      <ng-template #titleStatic5>
        <div class="flex flex-col items-center justify-center text-3xl text-green-500">
          <i nz-icon nzType="global" nzTheme="outline"></i>
        </div>
      </ng-template>
      <ng-template #valueStatic5>
        <div class="flex flex-col items-center justify-center py-0">
          <p class="font-bold">5040</p>
          <p class="text-xs">Truy cập</p>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="4" class="flex flex-col items-center justify-center">
      <nz-statistic [nzValueTemplate]="valueStatic6" [nzTitle]="titleStatic6" class="py-3"></nz-statistic>
      <ng-template #titleStatic6>
        <div class="flex flex-col items-center justify-center text-3xl text-green-500">
          <i nz-icon nzType="message" nzTheme="outline"></i>
        </div>
      </ng-template>
      <ng-template #valueStatic6>
        <div class="flex flex-col items-center justify-center py-0">
          <p class="font-bold">5040</p>
          <p class="text-xs">Truy cập</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div nz-row class="mt-4">
  <div nz-col nzSpan="16" class="pr-4">
    <div class="w-full h-full rounded-md shadow-lg bg-white p-2" style="height: 300px;">
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
  </div>
  <div nz-col nzSpan="8" class="rounded-md shadow-lg bg-white p-2" style="height: 300px;">
    <div echarts [options]="pieOption" class="demo-chart"></div>
  </div>
</div>
