<div class="w-full bg-[#333333] px-32">
  <div class="container mx-auto">
    <div class="flex items-center	justify-between">
      <div class="flex items-center justify-start">
        <a nz-dropdown [nzDropdownMenu]="menuBrowseCategories" nzTrigger="hover" [nzDisabled]="visible"
           class="w-72 p-3 flex items-center justify-between bg-[#2a9cf5] text-white hover:text-white">
          <div class="flex items-center justify-between">
            <span nz-icon nzType="unordered-list" nzTheme="outline" class="pr-3 text-xl"></span>
            <p class="mb-0 font-medium pr-4 text-lg">Browse Categories</p>
          </div>
          <span nz-icon nzType="down" class="text-xs"></span>
        </a>
        <ul nz-menu nzMode="horizontal" class="bg-[#333333] text-white font-bold border-b-0	">
          <li nz-menu-item nzSelected>Home</li>
          <li nz-menu-item>Shop</li>
          <li nz-menu-item>Blog</li>
          <li nz-menu-item>Page</li>
          <li nz-menu-item>Elements</li>
          <li nz-submenu nzTitle="Vendor">
            <ul>
              <li nz-menu-group nzTitle="Item 1">
                <ul>
                  <li nz-menu-item>Option 1</li>
                  <li nz-menu-item>Option 2</li>
                </ul>
              </li>
              <li nz-menu-group nzTitle="Item 2">
                <ul>
                  <li nz-menu-item>Option 3</li>
                  <li nz-menu-item>Option 4</li>
                  <li nz-submenu nzTitle="Sub Menu">
                    <ul>
                      <li nz-menu-item nzDisabled>Option 5</li>
                      <li nz-menu-item>Option 6</li>
                    </ul>
                  </li>
                  <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                    <ul>
                      <li nz-menu-item>Option 5</li>
                      <li nz-menu-item>Option 6</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nz-dropdown-menu #menuBrowseCategories="nzDropdownMenu">
  <ul nz-menu class="h-[32rem] shadow-none bg-[#f5f6f8]">
    <li nz-menu-item class="py-2">
      <span nz-icon nzType="apple" nzTheme="outline" class="text-xl pr-2 flex items-center"></span>Apple
    </li>
    <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
    <li nz-menu-item class="py-2">
      <span nz-icon nzType="twitter" nzTheme="outline" class="text-xl pr-2 flex items-center"></span>Twitter
    </li>
    <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
    <li nz-menu-item>disabled menu item</li>
    <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
    <li nz-submenu nzTitle="sub menu">
      <ul>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
        <li nz-menu-item>4th menu item</li>
      </ul>
    </li>
    <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
  </ul>
</nz-dropdown-menu>
