<div class="container mx-auto mt-14">
  <div class="grid grid-cols-5">
    <div
      class="col-span-5 md:col-span-1 lg:col-span-1 xl:col-span-1 flex justify-center md:justify-start lg:justify-start xl:justify-start">
      <img src="/assets/images/logo.png" class="w-12 md:w-20 object-fill p-2">
    </div>
    <div
      class="col-span-5 md:col-span-2 lg:col-span-2 xl:col-span-2 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <span nz-icon nzType="mail" nzTheme="outline" class="flex items-center text-3xl"></span>
      <div class="flex flex-col items-start px-2">
        <h3 class="uppercase font-bold">SUBSCRIBE TO OUR NEWSLETTER</h3>
        <p>Get all the latest information on Events, Sales and Offers.</p>
      </div>
    </div>
    <div
      class="col-span-5 md:col-span-2 lg:col-span-2 xl:col-span-2 flex items-center justify-end md:justify-center lg:justify-center xl:justify-center">
      <input nz-input placeholder="Your E-mail Address" nzSize="large" class="mr-2"/>
      <button nz-button nzSize="large" nzType="primary">Subscribe &#8594;</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="grid grid-cols-6">
    <div class="col-span-6 md:col-span-3 lg:col-span-3 xl:col-span-3 flex flex-col justify-start">
      <p class="font-bold">Got Question? Call us 24/7</p>
      <p class="font-bold text-2xl py-2">1-800-570-7777</p>
      <p class="py-2">Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Pretium quam, elit ut aliquam purus sit. Porttitor rhoncus dolor purus non enim.</p>
      <p class="py-2">Social Media</p>
    </div>
    <div class="col-span-6 md:col-span-1 lg:col-span-1 xl:col-span-1 flex flex-col justify-start">
      <h3 class="font-bold uppercase">Company</h3>
      <ul class="list-none">
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
      </ul>
    </div>
    <div class="col-span-6 md:col-span-1 lg:col-span-1 xl:col-span-1 flex flex-col justify-start">
      <h3 class="font-bold uppercase">My account</h3>
      <ul class="list-none">
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
      </ul>
    </div>
    <div class="col-span-6 md:col-span-1 lg:col-span-1 xl:col-span-1 flex flex-col justify-start">
      <h3 class="font-bold uppercase">Customer service</h3>
      <ul class="list-none">
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
        <li class="capitalize">About Us</li>
      </ul>
    </div>
  </div>
</div>
