<app-header></app-header>
<nz-affix [nzOffsetTop]="0" class="w-full bg-[#333333] hidden md:block lg:blog xl:block" (nzChange)="onScrollPage($event)">
  <app-menu></app-menu>
</nz-affix>
<div class="w-full bg-white px-3 md:px-32 lg:px-32 xl:px-32">
  <div class="container mx-auto">
    <router-outlet (activate)="onActive($event)"></router-outlet>
  </div>
</div>
<div class="w-full bg-gray-100 px-3 md:px-32 lg:px-32 xl:px-32">
  <app-footer></app-footer>
</div>
