<div class="w-full py-5">
  <img src="/assets/images/products/product-2.jpg" class="w-full max-h-72 object-fill pb-5">
  <ngx-slick-carousel class="carousel w-full mt-5" [config]="categoryConfig">
    <div ngxSlickItem *ngFor="let category of categories" class="slide">
      <div class="flex flex-col items-center justify-center px-4">
        <div class="flex items-center justify-center rounded-full hover:shadow-2xl">
          <img [src]="category.url" class="w-32 h-32 object-fill rounded-full">
        </div>
        <p class="py-2 font-bold">{{category.value}}</p>
      </div>
    </div>
  </ngx-slick-carousel>
  <nz-divider></nz-divider>
  <form nz-form [formGroup]="sortForm">
    <div class="w-full grid grid-cols-4 gap-5">
      <div class="hidden md:block col-span-1 flex items-center justify-between">
        <p class="mb-0 font-bold capitalize pr-3">Filter:</p>
        <a>Clean all</a>
      </div>
      <div class="col-span-4 md:col-span-3 lg:col-span-3:xl:col-span-3 flex items-center justify-between">
        <a class="block md:hidden">
          <span nz-icon nzType="menu" nzTheme="outline" class="text-2xl flex items-center"></span>
        </a>
        <div class="flex items-center justify-start">
          <p class="mb-0 font-bold capitalize pr-3">Sort by:</p>
          <nz-select formControlName="sortBy" nzSize="large" class="w-36">
            <nz-option nzValue="" nzLabel="Price"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            <nz-option nzValue="disabled" nzLabel="Disabled"></nz-option>
          </nz-select>
        </div>
        <nz-select formControlName="size" nzSize="large" class="w-28">
          <nz-option nzValue="" nzLabel="Show 10"></nz-option>
          <nz-option nzValue="20" nzLabel="Show 20"></nz-option>
          <nz-option nzValue="30" nzLabel="Show 30"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="w-full grid grid-cols-4 gap-5 pt-5">
      <div class="hidden md:block col-span-1">
        <nz-collapse [nzBordered]="false" nzGhost>
          <nz-collapse-panel [nzShowArrow]="false" [nzActive]="true" [nzHeader]="headerCategories">
            <ul>
              <li><a>Babies</a></li>
              <li><a>Food</a></li>
              <li><a>Babies</a></li>
              <li><a>Food</a></li>
              <li><a>Babies</a></li>
              <li><a>Food</a></li>
              <li><a>Babies</a></li>
              <li><a>Food</a></li>
              <li><a>Babies</a></li>
              <li><a>Food</a></li>
              <li><a>Babies</a></li>
              <li><a>Food</a></li>
              <li><a>Babies</a></li>
            </ul>
          </nz-collapse-panel>
          <ng-template #headerCategories>
            <div class="w-full border-b">
              <h3 class="w-fit font-bold border-b-2	border-b-sky-700">All Categories</h3>
            </div>
          </ng-template>
          <nz-collapse-panel [nzShowArrow]="false" [nzActive]="true" [nzHeader]="headerPrice">
            <ul>
              <li><a>$0.00 - $100.00</a></li>
              <li><a>$100.00 - $200.00</a></li>
              <li><a>$200.00 - $300.00</a></li>
              <li><a>$300.00 - $500.00</a></li>
              <li><a>$500.00+</a></li>
            </ul>
            <div class="flex items-stretch justify-center">
              <input nz-input placeholder="min">
              <strong class="px-1 mb-0">-</strong>
              <input nz-input placeholder="max">
              <button nz-button class="bg-sky-700 text-white ml-3 rounded px-2">Go</button>
            </div>
          </nz-collapse-panel>
          <ng-template #headerPrice>
            <div class="w-full border-b">
              <h3 class="w-fit font-bold border-b-2	border-b-sky-700">Prices</h3>
            </div>
          </ng-template>
          <nz-collapse-panel [nzShowArrow]="false" [nzActive]="true" [nzHeader]="headerSize">
            <nz-checkbox-wrapper class="w-full ml-0">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <label nz-checkbox nzValue="1">Large</label>
                </div>
                <div nz-col nzSpan="24">
                  <label nz-checkbox nzValue="1">Medium</label>
                </div>
                <div nz-col nzSpan="24">
                  <label nz-checkbox nzValue="1">Small</label>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </nz-collapse-panel>
          <ng-template #headerSize>
            <div class="w-full border-b">
              <h3 class="w-fit font-bold border-b-2	border-b-sky-700">Size</h3>
            </div>
          </ng-template>
        </nz-collapse>
      </div>
      <div class="col-span-4 md:col-span-3 lg:col-span-3:xl:col-span-3 grid grid-cols-6 gap-5">
        <ng-container *ngFor="let prod of products;let i=index">
          <div class="col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-2">
            <!--            <div class="flex flex-col items-center justify-center p-5 bg-slate-50">-->
            <!--              <img [src]="prod.url" class="max-h-[285px] max-w-full object-fill">-->
            <!--              <p class="py-2">{{prod.name}}</p>-->
            <!--              <nz-rate [ngModel]="prod.rateView" class="py-1" [ngModelOptions]="{standalone:true}"-->
            <!--                       [name]="'prod-'+i"></nz-rate>-->
            <!--              <div class="flex items-center justify-center">-->
            <!--                <p class="px-1 font-bold text-lg">{{prod.price | number}}</p><small>đ</small>-->
            <!--                <p class="line-through text-slate-300 px-2">{{prod.priceDiscount | number}}<small>đ</small></p>-->
            <!--              </div>-->
            <!--            </div>-->
            <app-product-box [product]="prod" [styleClass]="'bg-slate-50'"></app-product-box>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>
