.antd-pro-layout .ant-layout-sider-collapsed .slider-logo h1 {
    display: none;
}

.antd-pro-layout .header {
    background: #fff;
    padding: 0;
    height: 48px;
    line-height: 48px;
    width: 100%;
    z-index: 19;
}

.antd-pro-layout .table-row {
    vertical-align: top;
}

.antd-pro-layouts-user-layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: rgb(240, 242, 245);
}

.antd-pro-layout .antd-pro-layouts-user-layout-lang {
    width: 100%;
    height: 40px;
    line-height: 44px;
    text-align: right;
}

.antd-pro-layout .antd-pro-layouts-user-layout-lang .ant-dropdown-trigger {
    margin-right: 24px;
    cursor: pointer;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    vertical-align: middle;
}

.antd-pro-layout .antd-pro-layouts-user-layout-content {
    flex: 1 1 0%;
    padding: 32px 0px;
}

.antd-pro-layout .ant-menu-horizontal {
    line-height: 38px;
    border-bottom: 0;
}

@media (min-width: 768px) {
    .antd-pro-layout .antd-pro-layouts-user-layout-container {
        background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
        background-repeat: no-repeat;
        background-position: center 110px;
        background-size: 100%;
    }

    .antd-pro-layout .antd-pro-layouts-user-layout-content {
        padding: 32px 0px 24px;
    }
}

.antd-pro-layout .antd-pro-layouts-user-layout-top {
    text-align: center;
}

.antd-pro-layout .antd-pro-layouts-user-layout-header {
    height: 44px;
    line-height: 44px;
}

.antd-pro-layout .antd-pro-layouts-user-layout-header a {
    text-decoration: none;
}

.antd-pro-layout .antd-pro-layouts-user-layout-logo {
    height: 44px;
    margin-right: 16px;
    vertical-align: top;
}

.antd-pro-layout .antd-pro-layouts-user-layout-title {
    position: relative;
    top: 2px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, 'helvetica neue', Arial, Helvetica, sans-serif;
}

.antd-pro-layout .antd-pro-layouts-user-layout-desc {
    margin-top: 12px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
}

.antd-pro-layout .ant-pro-global-footer {
    margin: 48px 0px 24px;
    padding: 0px 16px;
    text-align: center;
}

.antd-pro-layout .antd-pro-pages-user-login-index-main {
    width: 328px;
    margin: 0px auto;
}

.antd-pro-layout .site-layout-background {
    background: #f0f2f5;
}

.antd-pro-layout .ant-layout-footer {
    background: #f0f2f5;
}

.antd-pro-layout .ant-layout-content {
    background: #f0f2f5;
}

.antd-pro-layout .ant-form .ant-card {
    margin-bottom: 24px;
}

.ant-pro-footer-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    line-height: 44px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -6px 16px -8px rgb(0 0 0 / 8%), 0 -9px 28px 0 rgb(0 0 0 / 5%), 0 -12px 48px 16px rgb(0 0 0 / 3%);
    transition: width .3s cubic-bezier(.645, .045, .355, 1);
}
.ant-pro-footer-bar-product {
    position: fixed;
    /*max-width: calc(100% - 200px) !important;*/
    width: 100%;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    padding: 0 24px;
    line-height: 44px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -6px 16px -8px rgb(0 0 0 / 8%), 0 -9px 28px 0 rgb(0 0 0 / 5%), 0 -12px 48px 16px rgb(0 0 0 / 3%);
    transition: width .3s cubic-bezier(.645, .045, .355, 1);
}
@media (max-width: 820px) {
    .ant-pro-footer-bar-product {
        position: fixed;
        max-width: calc(100% - 200px) !important;
        width: 100%;
        bottom: 0;
        z-index: 99;
        display: flex;
        align-items: center;
        padding: 0 24px;
        line-height: 44px;
        background: #fff;
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 -6px 16px -8px rgb(0 0 0 / 8%), 0 -9px 28px 0 rgb(0 0 0 / 5%), 0 -12px 48px 16px rgb(0 0 0 / 3%);
        transition: width .3s cubic-bezier(.645, .045, .355, 1);
    }
}
.ant-pro-footer-bar-left {
    flex: 1 1;
}

.ant-image-preview-img {
    display: inline !important;
}

.ant-message-custom-content {
    display: flex;
    text-align: left;
}

.order-history .ant-steps-item-process.ant-steps-item-active > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #52c41a;
    font-weight: 600;
}

.order-history .ant-steps-item-process.ant-steps-item-active .anticon {
    color: #52c41a;
}

.anticon {
    vertical-align: 1px !important;
}

.customer-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1043A5;
    color: #FFFFFF;
}

.customer-sider .ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
    opacity: 0 !important;
}

.card-pack .ant-card-body {
    padding: 15px;
}

.customer-left-menu .ant-menu-item.ant-menu-item-selected,
.customer-left-menu .ant-menu-item.ant-menu-item-selected a {
    color: #FFFFFF;
}

.product-tabs > .ant-tabs-nav::before {
    border: none !important;
}

.product-tabs .ant-tabs-ink-bar {
    display: none
}

.product-tabs .ant-tabs-tab {
    border: 1px solid #1043A5;
    padding: 14px 40px;
    font-weight: bold;
    font-size: 22px;
    color: #1043A5;
    border-radius: 10px;
    line-height: 26px;
}

.product-tabs .ant-tabs-tab:hover,
.product-tabs .ant-tabs-tab-active {
    background: #1043A5;
}

.product-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn,
.product-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FFFFFF;
}

.product-tabs .view-more {
    border-radius: 10px;
    background: #1043A5;
    padding: 14px 40px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.product-tabs .view-more:hover {
    background: #FFFFFF;
    color: #1043A5;
    border: 1px solid #1043A5;
}

.step-tabs > .ant-tabs-nav::before {
    border: none !important;
}

.step-tabs .ant-tabs-ink-bar {
    display: none
}


.step-tabs .ant-tabs-tab {
    background: #FFFFFF;
    border: 1px solid #1043A5;
    padding: 14px 40px;
    font-weight: bold;
    font-size: 22px;
    color: #4786FF;
    border-radius: 10px;
    line-height: 26px;
}

.step-tabs .ant-tabs-tab:hover,
.step-tabs .ant-tabs-tab-active {
    background: #4786FF;
}

.step-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn,
.step-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FFFFFF;
}

.ant-input-number-group-wrapper {
    display: inline-block;
    text-align: start;
    vertical-align: top;
}

.ant-input-number-group {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.ant-input-number-group-addon, .ant-input-number-group-wrap, .ant-input-number-group > .ant-input-number {
    display: table-cell;
}

.ant-input-number-group-addon, .ant-input-number-group-wrap {
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
}

.ant-input-number-group-addon {
    position: relative;
    padding: 0 11px;
    color: #000000d9;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
}

.ant-input-number-group-addon:last-child {
    border-left: 0;
}

.ant-input-number-group > .ant-input-number:last-child, .ant-input-number-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ant-form-item-explain-error {
    color: #ff4d4f;
}

.product-price .ant-input-number-group-addon {
    background-color: transparent;
    border: 0;
    border-right: 1px solid #C4C4C4;
}

.ant-form-item-explain-warning {
    color: #faad14;
}

.ant-cascader-menus {
    position: relative !important;
}

.add-product .product-category .head {
    padding-bottom: 28px;
    border-bottom: 1px solid #ededed;
}
.add-product .product-category .head .title {
    margin-bottom: 6px;
    font-size: 22px;
    color: #333;
}
.add-product .product-category .head .description {
    font-size: 12px;
    color: #999;
}
.add-product .product-category .product-name-edit {
    display: flex;
    padding-top: 32px;
    margin-bottom: 16px;
}
.add-product .product-category .product-name-edit .label-product {
    line-height: 40px;
}
.add-product .product-category .category-selector-wrap {
    margin-bottom: 36px;
}
.add-product .product-category .category-selector-wrap .selector {
    padding: 24px;
    background-color: #fafafa;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap {
    position: relative;
    overflow: hidden;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .btn-wrap-left {
    background: linear-gradient(90deg,#fff 45%,transparent);
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .btn-wrap-right {
    right: 0;
    background: linear-gradient(90deg,transparent 45%,#fff);
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .btn-wrap-left,
.add-product .product-category .category-selector-wrap .selector .category-wrap .btn-wrap-right {
    position: absolute;
    padding: 12px;
    top: 16px;
    bottom: 0;
    z-index: 999;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap button {
    position: relative;
    top: 50%;
    margin-top: -16px;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list {
    width: 1500px;
    position: relative;
    display: flex;
    margin-top: 16px;
    padding: 10px 0;
    background-color: #fff;
    -webkit-transition: left .5s ease;
    transition: left .5s ease;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item {
    flex: 1;
    height: 320px;
    border-left: 1px solid #fff;
    overflow-y: scroll;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item::-webkit-scrollbar-thumb,
.scr.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.3);
    border-radius: 3px;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item .category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 32px;
    padding: 0 16px;
    color: #333;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item .category-item.selected {
    color: #ee4d2d;
    font-weight: bold;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item .category-item:hover {
    cursor: pointer;
    background: #f6f6f6;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap .category-list .scroll-item .category-item .text-overflow {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.add-product .product-category .category-selector-wrap .selector .category-wrap {
    position: relative;
    overflow: hidden;
}
.add-product .product-category .category-selector-wrap .category-selected {
    margin-top: 16px;
    line-height: 20px;
    color: #333;
}
.add-product .product-category .category-selector-wrap .category-selected .label {
    margin-right: 14px;
}
.add-product .product-category .category-selector-wrap .category-selected .cat-selected-item {
    color: #ee4d2d;
    font-weight: bold;
}
.admin-dashboard-select-merchant .ant-select-selector {
    border-radius: 0.375rem !important;
    border-color: #33A0FF !important;
    padding-left: 40px !important;
}
.admin-dashboard-select-merchant-icon {
    top: 50%;
    left: 13px;
    transform: translateY(-50%)
}
.antd-custom-select-font-bold .ant-select-selection-item {
    font-weight: 600;
}
.admin-dashboard-statistic {
    width: calc(100% - 130px);
}
@media (max-width: 768px) {
    .admin-dashboard-statistic {
        width: 100%;
    }
}
.custom-collapse .ant-collapse-header{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}