body {
    font-family: 'Asap', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: #f5f5f7;
}

@keyframes scaleBuyNow {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover {
    border-color: #fb81aa !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgb(251 129 170 / 20%);
}

.product-detail .buyNow,
.order-now .buyNow {
    animation: scaleBuyNow 0.7s alternate infinite ease-in;
}

.product-detail .thumb .slick-current div.ant-image {
    border: 2px solid #f4447f;
}

.product-detail .ant-rate-star {
    margin-right: 4px;
}

.product-detail .ant-rate-star svg {
    width: 16px;
    height: 16px;
}

.product-detail .ant-tabs-tab-btn {
    color: #3e4b76;
    font-size: 24px;
    font-weight: 500;
}

.product-detail .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #223263;
}

.product-detail .ant-tabs-ink-bar {
    background-color: #223263;
}

.product-detail .ant-tabs-nav-list {
    gap: 40px;
}

.product-detail .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 1px solid #c6c6c6;
}

.product-detail .need-show-more {
    max-height: 1200px;
    overflow: hidden;
    position: relative;
}

.product-detail .action-button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.product-category .left-menu.ant-menu-light .ant-menu-item:hover,
.product-category .left-menu.ant-menu-light .ant-menu-submenu-active {
    background-color: #d21856;
}

.product-category .left-menu.ant-menu-vertical > .ant-menu-item,
.product-category .left-menu.ant-menu-light .ant-menu-submenu-title {
    height: 50px;
    line-height: 50px;
}

.product-category .left-menu.ant-menu-light .ant-menu-item:hover,
.product-category .left-menu.ant-menu-light .ant-menu-item-active,
.product-category
.left-menu.ant-menu-light
.ant-menu:not(.ant-menu-inline)
.ant-menu-submenu-open,
.product-category .left-menu.ant-menu-light .ant-menu-submenu-active,
.product-category .left-menu.ant-menu-light .ant-menu-submenu-title:hover {
    color: #ffffff;
}

.product-category .left-menu.ant-menu-light .ant-menu-submenu-expand-icon,
.product-category .left-menu.ant-menu-light .ant-menu-submenu-arrow {
    color: #ffffff;
}

.product-category .left-menu.ant-menu > .ant-menu-item,
.product-category .left-menu.ant-menu {
    font-size: 18px;
    font-weight: 600;
}

.ant-menu-submenu > .ant-menu {
    border-radius: 6px;
}

.product-category .sort .ant-select-selector,
.product-category .province .ant-select-selector {
    border-radius: 6px;
    height: 48px !important;
}

.product-category .sort .ant-select-selector span,
.product-category .province .ant-select-selector > span {
    height: 48px !important;
    line-height: 48px !important;
}

.product-category .sort .ant-select-selector .ant-select-selection-placeholder,
.product-category
.province
.ant-select-selector
.ant-select-selection-placeholder {
    color: #797e8e;
    font-weight: 500;
    font-size: 16px;
}

.product-category .sort .ant-select-selector .ant-select-selection-item,
.product-category .province .ant-select-selector .ant-select-selection-item {
    color: #f75f92;
    font-weight: 500;
    font-size: 16px;
}

.product-category .ant-rate-star {
    margin-right: 4px;
}

.product-category .ant-pagination a {
    font-size: 16px;
    font-weight: 500;
}

.product-category .ant-pagination .ant-pagination-disabled a {
    color: #f00;
}

.product-category .ant-pagination .ant-pagination-item-link {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.product-category .ant-pagination .ant-pagination-item {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.product-category .ant-pagination .ant-pagination-item a {
    color: #595959;
}

.product-category .ant-pagination .ant-pagination-item-active {
    border: 0;
    background: #f4447f;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.product-category .ant-pagination .ant-pagination-item-active a {
    color: #ffffff;
}

.cart-checkout .ant-table-thead {
    display: none;
}

.cart-checkout .ant-table-tbody .ant-table-cell {
    padding: 16px 0;
}

.cart-checkout .ant-table-tbody > tr.ant-table-row:hover > td,
.cart-checkout .ant-table-tbody .ant-table-cell,
.cart-checkout .ant-table-thead .ant-table-cell {
    background-color: #ffffff;
    border: 0;
}

.cart-checkout .ant-table-tbody .ant-table-expanded-row .ant-table-cell {
    padding: 0;
}

.cart-checkout
.ant-table-tbody
> tr
> td
> .ant-table-wrapper:only-child
.ant-table,
.cart-checkout
.ant-table-tbody
> tr
> td
> .ant-table-expanded-row-fixed
> .ant-table-wrapper:only-child
.ant-table {
    margin: 0;
}

.cart-checkout .ant-table-tbody .ant-table-expanded-row > td {
    padding-bottom: 18px !important;
    border-bottom: 1px solid #c6c6c6;
}

.cart-checkout .ant-table-tbody .ant-table-expanded-row:last-child > td {
    border: 0;
}

/*.cart-checkout .ant-table-tbody .ant-table-selection-column{*/
/*    vertical-align: top;*/
/*}*/

/*.cart-checkout .ant-table-tbody .ant-table-selection-column > label{*/
/*    margin-top: 5px;*/
/*}*/
.rounded-modal .ant-modal-content {
    border-radius: 10px;
}

.rounded-modal .ant-modal-header {
    border-radius: 10px;
    border: 0;
}

.dashboard-select.ant-select:not(.ant-select-customize-input)
.ant-select-selector {
    border-radius: 40px;
    filter: drop-shadow(0px 20px 50px rgba(191, 21, 108, 0.05));
    border: 2px solid #6160dc;
}

.dashboard-select.ant-select-single.ant-select-show-arrow
.ant-select-selection-item {
    color: #6160dc;
    font-weight: 600;
}

.dashboard-select .ant-select-arrow {
    color: #6160dc;
}

.select-merchant-address {
    width: 100%;
}

.select-merchant-address.ant-select:not(.ant-select-customize-input)
.ant-select-selector {
    /*border: 1px solid #F4447F;*/
    height: 40px;
    border-radius: 4px;
    padding: 0 5px;
}

.select-merchant-address.ant-select-single
.ant-select-selector
.ant-select-selection-placeholder {
    line-height: 40px;
    font-weight: 500;
}

.select-merchant-address.ant-select-single
.ant-select-selector
.ant-select-selection-item {
    color: #f4447f;
    line-height: 40px;
    font-weight: 500;
}

.select-merchant-address-cart {
    width: 100%;
}

.select-merchant-address-cart.ant-select:not(.ant-select-customize-input)
.ant-select-selector {
    height: 40px;
    border-radius: 4px;
}

.select-merchant-address-cart.ant-select-single
.ant-select-selector
.ant-select-selection-placeholder {
    line-height: 40px;
    font-weight: 500;
}

.select-merchant-address-cart.ant-select-single
.ant-select-selector
.ant-select-selection-item {
    line-height: 40px;
    font-weight: 500;
}

.select-merchant-address .ant-select-item {
    border: 1px solid #e0e0e0;
}

.guest-layout .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.guest-layout .ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-selected {
    background-color: #d21856 !important;
}

.guest-layout
.ant-menu.ant-menu-sub:not(.ant-menu-horizontal)
.ant-menu-item-selected {
    background-color: #ffffff !important;
    color: #f4447f !important;
}

.edit-variant .ant-modal-header,
.edit-variant .ant-modal-content {
    border-radius: 18px;
}

.top-banner img {
    min-height: 200px !important;
    max-height: 520px;
    margin: 0 auto;
    object-fit: cover !important;
}

.category-slider-item {
    max-height: 120px;
}

.top-button {
    display: flex;
}

@media screen and (max-width: 768px) {
    .category-slider-item {
        max-height: 64px;
    }

    .category-slider-item-icon {
        max-width: 45px;
    }

    .top-button {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse !important;
        justify-content: flex-end !important;
    }
}

.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.today-tabs .ant-tabs-tab {
    background-color: #ffffff;
    border-radius: 34px;
    padding: 8px 24px;
    color: #223263;
    font-size: 22px;
}

.today-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
}

.today-tabs .ant-tabs-ink-bar {
    display: none;
}

.today-tabs.active-top-search .ant-tabs-tab-active {
    background-color: #fb81aa;
}

.today-tabs.active-new-product .ant-tabs-tab-active {
    background-color: #38cadb;
}

.today-tabs.active-for-you .ant-tabs-tab-active {
    background-color: #b396f5;
}

.top-menu-dropdown-menu {
    padding: 20px 0;
}

.top-menu-dropdown-menu li {
    padding: 0 16px;
}

.top-menu-dropdown-menu li > div {
    padding: 16px 0;
}

.top-menu-dropdown-menu li > span {
    padding: 16px 0;
}

.top-menu-dropdown-menu li > div,
.top-menu-dropdown-menu li > span {
    border-bottom: 1px solid #c4c4c4;
}

.top-menu-dropdown-menu .ant-dropdown-menu-title-content a,
.top-menu-dropdown-menu .ant-dropdown-menu-title-content {
    font-size: 16px;
    font-weight: 500;
}

.top-menu-dropdown-menu > li:first-child span,
.top-menu-dropdown-menu > li.border-0 .ant-dropdown-menu-title-content {
    border-bottom: 0;
}

.top-menu-dropdown-menu .ant-dropdown-menu-item,
.top-menu-dropdown-menu .ant-dropdown-menu-submenu-title,
.top-menu-dropdown-menu .ant-dropdown-menu-submenu {
    color: #797e8e !important;
}

.top-menu-dropdown-menu .ant-dropdown-menu-submenu-active,
.top-menu-dropdown-menu .ant-dropdown-menu-item-active {
    color: #f4447f !important;
    background-color: transparent;
}

.top-menu-dropdown-menu .ant-dropdown-menu-item:hover,
.top-menu-dropdown-menu .ant-dropdown-menu-submenu-title:hover {
    color: #f4447f !important;
    background-color: transparent;
}

.top-menu-dropdown-sub-menu .ant-dropdown-menu {
    padding: 20px;
    border-radius: 20px;
}

.top-menu-dropdown-sub-menu .ant-dropdown-menu li {
    padding: 10px;
}

.top-menu-dropdown-sub-menu .ant-dropdown-menu li:hover {
    background-color: transparent;
    color: #f4447f;
}

.ant-dropdown-menu-vertical {
    max-height: 550px;
    overflow: auto;
}

.top-product-slider .slick-track {
display: flex !important;
}

.top-product-slider .slick-slide {
height: inherit !important;
}

.top-product-slider .slick-slide > div {
height: 100%;
}

.index-page .slick-prev {
left: -36px;
}

.youtube {
padding-bottom: 56.25%;
}

.youtube .video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
}

.add-to-cart-success .ant-modal-content {
  border-radius: 10px;
}
@media (min-width: 768px) {
  .add-to-cart-success-icon {
    width: 193px !important;
  }
  .add-to-cart-success .ant-modal-content {
    border-radius: 20px;
  }
}

.payment-type label {
width: 50%;
margin: 0 !important;
align-items: flex-start;
}

.payment-type label span.ant-radio-inner {
width: 30px;
height: 30px;
border: 1px solid #c4c4c4;
}

.payment-type label span.ant-radio-checked .ant-radio-inner {
border-color: #c4c4c4;
}

.payment-type label span.ant-radio-checked .ant-radio-inner:after {
background-color: #f4447f;
width: 30px;
height: 30px;
margin-top: -15px;
margin-left: -15px;
}

.cart-products.has-order-info table tr.ant-table-row {
display: none;
}

.cart-products.has-order-info table tr.ant-table-row-selected {
display: table-row;
}

.image-square {
position: relative;
width: 100%;
background-size: cover;
background-position: center;
}

.image-square:after {
content: '';
display: block;
padding-bottom: 100%;
}

.image-square .image {
position: absolute;
width: 100%;
height: 100%;
}

.price-range .ant-input-number-handler-wrap {
visibility: hidden;
}

.price-range .ant-input-number-input {
height: 40px;
}

.search-result {
border-radius: 0 0 10px 10px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
padding: 15px 18px;
}

.search-result .ant-select-item {
padding: 10px 16px;
font-size: 16px;
color: #595959;
}

.search-result .ant-select-item.ant-select-item-option-active > div {
color: #f4447f;
}
@media (max-width: 768px) {
    .search-result {
        border-radius: 0 0 5px 5px;
        padding: 10px 5px;
    }
        
    .search-result .ant-select-item {
        padding: 5px 5px;
        font-size: 13px;
    }
}

.view-more .province .ant-select-selector {
border-radius: 6px;
}

.is-sticky {
position: fixed !important;
top: 0;
left: 0;
width: 100%;
z-index: 999;
background-color: #f5f5f7 !important;
animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
padding-top: 0px;
padding-bottom: 0px;
}

.flash-sale .select .ant-select-selection-item,
.flash-sale .select .ant-select-selection-placeholder,
.flash-sale .select .ant-select-selector {
height: 44px !important;
line-height: 44px;
font-weight: 500;
}

.flash-sale .select .ant-select-selector {
border-radius: 4px;
}

.flash-sale .select .ant-select-selection-item {
color: #f4447f;
}

.flashsale-dropdown .ant-select-item-option-active,
.flashsale-dropdown
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
background: transparent;
color: #f4447f;
}

.flashsale-dropdown
.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
.ant-select-item-option-content {
color: #f4447f;
}

.flash-sale .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
border-color: #f4447f !important;
}

@media (max-width: 1152px) {
.payment-type label {
    width: 100%;
}

.top-menu-dropdown {
    left: 0 !important;
}

.product-detail .ant-tabs-tab-btn {
    font-size: 16px;
}

.product-detail .ant-tabs-nav-list {
    gap: 16px;
}
}

.order-print .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table {
border-color: #000000 !important;
border-left-width: 1px;
}

.order-print .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
border-color: #000000 !important;
}

.product-category-responsive {
font-size: 14px;
}
