<div class="w-full grid grid-cols-10 gap-5 mt-5">
  <div class="col-span-10 md:col-span-8">
    <div class="w-full grid grid-cols-2 gap-5">
      <div class="col-span-2 md:col-span-1 flex flex-col items-center justify-center">
        <div class="max-h-[500px] w-full pb-5 px-4">
          <img src="/assets/images/products/product-3.jpg">
        </div>
        <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
          <div ngxSlickItem *ngFor="let prod of products" class="slide">
            <div class="flex flex-col items-center justify-center px-4">
              <img [src]="prod.url" class="w-full object-fill">
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="col-span-2 md:col-span-1 flex flex-col items-start">
        <h3 class="font-bold text-xl">Sản phẩm 1</h3>
        <div class="flex items-center py-2">
          <img class="w-20 h-11 object-fill" src="/assets/images/products/product-4.jpg">
          <div class="md:px-3">
            <p>Category: Electronics</p>
            <p>SKU: MS46891340</p>
          </div>
        </div>
        <nz-divider></nz-divider>
        <h3 class="font-bold text-2xl">$40.00</h3>
        <nz-rate nzDisabled [ngModel]="4" [ngModelOptions]="{standalone:true}"></nz-rate>
        <ul>
          <li class="flex items-center">
            <span nz-icon nzType="check" nzTheme="outline" class="pr-2"></span>Ultrices eros in cursus turpis massa
            cursus mattis.
          </li>
          <li class="flex items-center">
            <span nz-icon nzType="check" nzTheme="outline" class="pr-2"></span>Ultrices eros in cursus turpis massa
            cursus mattis.
          </li>
          <li class="flex items-center">
            <span nz-icon nzType="check" nzTheme="outline" class="pr-2"></span>Ultrices eros in cursus turpis massa
            cursus mattis.
          </li>
        </ul>
        <nz-divider></nz-divider>
        <div class="flex items-center py-2">
          <p>Color:</p>
          <div class="md:pl-3">
            <nz-radio-group>
              <label nz-radio-button nzValue="1" class="border-transparent">
                <div class="h-8 w-8 rounded-full bg-green-600"></div>
              </label>
            </nz-radio-group>
          </div>
        </div>
        <div class="flex items-center py-2">
          <p>Size:</p>
          <div class="md:pl-3">
            <nz-radio-group>
              <label nz-radio-button nzValue="A">Large</label>
              <label nz-radio-button nzValue="A">Medium</label>
              <label nz-radio-button nzValue="A">Small</label>
            </nz-radio-group>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full mt-10">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="title" (nzSelect)="tab.active = true"
                (nzDeselect)="tab.active = false">
          <ng-template #title>
            <h3 class="font-bold text-xl" [class.text-black]="tab.active"
                [class.text-slate-400]="!tab.active">{{tab.title}}</h3>
          </ng-template>
          {{tab.description}}
        </nz-tab>
      </nz-tabset>
    </div>

    <div class="w-full mt-10">
      <div class="w-full grid grid-cols-2">
        <div
          class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
          <h3 class="font-bold text-lg uppercase">More Products From This Vendor</h3>
        </div>
        <div
          class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
          <a class="flex items-center">
            More Products &#8594;
          </a>
        </div>
      </div>
      <nz-divider></nz-divider>
      <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
        <div ngxSlickItem *ngFor="let prod of products" class="slide">
          <div class="flex flex-col items-center justify-center px-4">
            <app-product-box [product]="prod" [styleClass]="'bg-slate-50'"></app-product-box>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="w-full mt-10">
      <div class="w-full grid grid-cols-2">
        <div
          class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
          <h3 class="font-bold text-lg uppercase">Related Products</h3>
        </div>
        <div
          class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
          <a class="flex items-center">
            More Products &#8594;
          </a>
        </div>
      </div>
      <nz-divider></nz-divider>
      <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
        <div ngxSlickItem *ngFor="let prod of products" class="slide">
          <div class="flex flex-col items-center justify-center px-4">
            <app-product-box [product]="prod" [styleClass]="'bg-slate-50'"></app-product-box>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div class="hidden md:block col-span-2 sticky top-0 gap-5" #target>
    <div class="w-full border rounded py-5">
      <div class="flex items-center justify-center border-r">
        <img class="w-8 h-8 object-fill pr-2" src="/assets/images/svg_categories/icon-bag.svg">
        <div class="flex flex-col items-start justify-center">
          <p class="font-bold">Free shipping & Return</p>
          <p>For all orders over $99</p>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="flex items-center justify-center border-r">
        <img class="w-8 h-8 object-fill pr-2" src="/assets/images/svg_categories/icon-bag.svg">
        <div class="flex flex-col items-start justify-center">
          <p class="font-bold">Free shipping & Return</p>
          <p>For all orders over $99</p>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="flex items-center justify-center border-r">
        <img class="w-8 h-8 object-fill pr-2" src="/assets/images/svg_categories/icon-bag.svg">
        <div class="flex flex-col items-start justify-center">
          <p class="font-bold">Free shipping & Return</p>
          <p>For all orders over $99</p>
        </div>
      </div>
    </div>
    <div class="w-full mt-5">
      <img class="w-full rounded max-h-56 object-fill" src="/assets/images/products/product-5.jpg">
    </div>
    <div class="w-full mt-5">
      <div class="flex items-center justify-between border-b">
        <h3 class="font-bold text-lg capitalize border-b-2">More products</h3>
        <a>&#8594;</a>
      </div>
      <div class="w-full flex items-center justify-start py-3">
        <img src="/assets/images/products/product-1.jpg" class="h-full w-[100px]">
        <div class="flex flex-col items-start justify-center pl-3">
          <p>Sản phẩm 1</p>
          <nz-rate [ngModel]="5" [nzCharacter]="character">
            <ng-template #character>
              <span nz-icon nzType="star" nzTheme="fill" class="text-base flex items-center"></span>
            </ng-template>
          </nz-rate>
          <h3 class="font-bold">150,000</h3>
        </div>
      </div>
      <div class="w-full flex items-center justify-start py-3">
        <img src="/assets/images/products/product-1.jpg" class="h-full w-[100px]">
        <div class="flex flex-col items-start justify-center pl-3">
          <p>Sản phẩm 1</p>
          <nz-rate [ngModel]="5" [nzCharacter]="character">
            <ng-template #character>
              <span nz-icon nzType="star" class="text-base"></span>
            </ng-template>
          </nz-rate>
          <h3 class="font-bold">150,000</h3>
        </div>
      </div>
      <div class="w-full flex items-center justify-start py-3">
        <img src="/assets/images/products/product-1.jpg" class="h-full w-[100px]">
        <div class="flex flex-col items-start justify-center pl-3">
          <p>Sản phẩm 1</p>
          <nz-rate [ngModel]="5" [nzCharacter]="character">
            <ng-template #character>
              <span nz-icon nzType="star" class="text-base"></span>
            </ng-template>
          </nz-rate>
          <h3 class="font-bold">150,000</h3>
        </div>
      </div>
    </div>
  </div>
</div>
