<div class="w-full mt-10">
  <div class="w-full">
    <nz-steps [nzCurrent]="currIndex" (nzIndexChange)="onIndexChange($event)">
      <!--Shopping cart-->
      <nz-step [nzTitle]="step1Title" [nzIcon]="step1Icon">
        <ng-template #step1Title>
          <div class="flex items-center justify-start" [class.text-sky-500]="currIndex >= 0">
            <span nz-icon nzType="shopping-cart" nzTheme="outline" class="text-3xl flex items-center font-bold"></span>
            <h4 class="pl-2 text-xl font-bold" [class.text-sky-500]="currIndex >= 0">Shopping Cart</h4>
          </div>
        </ng-template>
        <ng-template #step1Icon></ng-template>
      </nz-step>
      <!--Checkout-->
      <nz-step [nzTitle]="step2Title" [nzIcon]="step2Icon">
        <ng-template #step2Title>
          <div class="flex items-center justify-start" [class.text-sky-500]="currIndex >= 1">
            <span nz-icon nzType="dollar" nzTheme="outline" class="text-3xl flex items-center"></span>
            <h4 class="pl-2 text-xl font-bold" [class.text-sky-500]="currIndex >= 1">Checkout</h4>
          </div>
        </ng-template>
        <ng-template #step2Icon></ng-template>
      </nz-step>
      <!--Order complete-->
      <nz-step [nzTitle]="step3Title" [nzIcon]="step3Icon" [nzStatus]="'wait'">
        <ng-template #step3Title>
          <div class="flex items-center justify-start" [class.text-sky-500]="currIndex >= 2">
            <span nz-icon nzType="smile" nzTheme="outline" class="text-3xl flex items-center"></span>
            <h4 class="pl-2 text-xl font-bold" [class.text-sky-500]="currIndex >= 2">Order Complete</h4>
          </div>
        </ng-template>
        <ng-template #step3Icon></ng-template>
      </nz-step>
    </nz-steps>

    <ng-container *ngIf="currIndex === 0">
      <div class="w-full grid grid-cols-3 mt-10 gap-5">
        <div class="col-span-3 md:col-span-2">
          <div class="w-full hidden md:grid grid grid-cols-12 pb-8">
            <div class="col-span-5">
              <p class="font-bold text-2xl">Products</p>
            </div>
            <div class="col-span-2">
              <p class="font-bold text-center text-2xl">Price</p>
            </div>
            <div class="col-span-2">
              <p class="font-bold text-center text-2xl">Quantity</p>
            </div>
            <div class="col-span-2">
              <p class="font-bold text-center text-2xl">Total</p>
            </div>
            <div class="col-span-1"></div>
          </div>
          <ng-container *ngFor="let prod of products">
            <div class="w-full grid grid-cols-12">
              <div
                class="col-span-12 md:col-span-5 flex flex-col md:flex-row items-center justify-center md:justify-start">
                <img class="w-full md:w-24 md:h-24 object-fill" [src]="prod.url">
                <h4 class="w-full font-bold text-xl md:w-auto text-center md:text-left px-2">{{prod.name}}</h4>
              </div>
              <div class="col-span-12 md:col-span-2 flex items-center">
                <p class="w-full text-center">{{prod.price}}</p>
              </div>
              <div class="col-span-12 md:col-span-2 flex items-center justify-center">
                <div class="w-min flex items-center justify-center border rounded p-2">
                  <input nz-input class="border-0 mr-2">
                  <button nz-button class="outline-0 mr-2 flex items-center justify-center" nzShape="circle">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                  </button>
                  <button nz-button class="outline-0 flex items-center justify-center" nzShape="circle">
                    <span nz-icon nzType="minus" nzTheme="outline"></span>
                  </button>
                </div>
              </div>
              <div class="col-span-12 md:col-span-2 flex items-center">
                <p class="w-full text-center">{{prod.price}}</p>
              </div>
              <div class="col-span-12 md:col-span-1 flex items-center">
                <button nz-button nzType="primary" nzDanger>Xóa</button>
              </div>
            </div>
            <nz-divider></nz-divider>
          </ng-container>
          <div class="grid grid-cols-2">
            <div class="col-span-2 md:col-span-1">
              <button nz-button
                      class="w-full md:w-auto bg-sky-500 uppercase font-bold outline-0 py-6 border-0 rounded flex items-center justify-center text-white">
                &#8592; Tiếp tục mua hàng
              </button>
            </div>
            <div class="col-span-2 md:col-span-1 flex items-center justify-end gap-3">
              <button nz-button
                      class="flex-1 md:flex-none uppercase font-bold py-6 rounded flex items-center justify-center">
                Clear cart
              </button>
              <button nz-button
                      class="flex-1 md:flex-none uppercase font-bold py-6 rounded flex items-center justify-center">
                Update cart
              </button>
            </div>
          </div>
        </div>
        <div class="col-span-3 md:col-span-1">
          <nz-card [nzTitle]="cardTitle">
            <ng-template #cardTitle>
              <div class="flex flex-col items-start">
                <h3 class="capitalize font-bold text-xl">Cart total</h3>
                <div class="w-full flex items-center justify-between">
                  <p>Sub Total</p>
                  <p class="font-bold">125.000$</p>
                </div>
              </div>
            </ng-template>
            <div class="w-full grid grid-cols-1">
              <div class="col-span-1">
                <nz-select nzAllowClear nzSize="large" class="w-full my-3" nzPlaceHolder="Chọn Tp/Tỉnh">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
              </div>
              <div class="col-span-1">
                <nz-select nzAllowClear nzSize="large" class="w-full my-3" nzPlaceHolder="Chọn Quận/Huyên">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
              </div>
              <div class="col-span-1">
                <nz-select nzAllowClear nzSize="large" class="w-full my-3" nzPlaceHolder="Chọn Phường Xã">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div class="flex items-center justify-between">
              <p class="font-bold">Phí ship (tạm tính):</p>
              <p class="font-bold">12.000$</p>
            </div>
            <nz-divider></nz-divider>
            <div class="flex items-center justify-between">
              <h4 class="font-bold uppercase">Tổng thanh toán:</h4>
              <p class="font-bold">12.000$</p>
            </div>
          </nz-card>
          <button nz-button
                  class="w-full bg-sky-500 uppercase font-bold outline-0 mt-3 py-6 border-0 rounded flex items-center justify-center text-white">
            Thanh toán &#8594;
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currIndex === 1">
      <div class="w-full grid grid-cols-3 mt-10 gap-5">
        <div class="col-span-3 md:col-span-2">
          <nz-card nzTitle="BILL INFO" [nzBordered]="false">
            <form nz-form [formGroup]="checkoutForm" nzLayout="vertical">
              <div class="grid grid-cols-2 gap-4">
                <div class="col-span-2 md:col-span-1">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Họ tên</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="fullName" nzSize="large">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Số điện thoại</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="phone" nzSize="large">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Email</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="email" nzSize="large">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Thành phố/Tỉnh</nz-form-label>
                    <nz-form-control>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Tp/Tỉnh" formControlName="provinceId"
                                 nzSize="large">
                        <nz-option nzValue="1" nzLabel="Hà Nội"></nz-option>
                        <nz-option nzValue="1" nzLabel="Thành phố HCM"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Quận/Huyện</nz-form-label>
                    <nz-form-control>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Tp/Tỉnh" formControlName="districtId"
                                 nzSize="large">
                        <nz-option nzValue="1" nzLabel="Hà Nội"></nz-option>
                        <nz-option nzValue="1" nzLabel="Thành phố HCM"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Phường/Xã</nz-form-label>
                    <nz-form-control>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Tp/Tỉnh" formControlName="wardId"
                                 nzSize="large">
                        <nz-option nzValue="1" nzLabel="Hà Nội"></nz-option>
                        <nz-option nzValue="1" nzLabel="Thành phố HCM"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2 md:col-span-1">
                  <nz-form-item class="mb-0">
                    <nz-form-label>ZIP Code</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="ZIP" nzSize="large">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Địa chỉ</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="address" nzSize="large">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-span-2">
                  <nz-form-item class="mb-0">
                    <nz-form-label>Ghi chú đơn hàng</nz-form-label>
                    <nz-form-control>
                      <textarea nz-input formControlName="note" rows="3" placeholder="Ghi chú đơn hàng"></textarea>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </form>
          </nz-card>
        </div>
        <div class="col-span-3 md:col-span-1">
          <nz-card nzTitle="BILL DETAIL">
            <ng-container *ngFor="let prod of products">
              <div class="w-full flex items-stretch justify-start py-3">
                <img class="w-12 h-16 object-fill" [src]="prod.url">
                <div class="w-full flex flex-1 flex-col items-start justify-center px-2">
                  <p>{{prod.name}}</p>
                  <div class="w-full grid grid-cols-3">
                    <div class="col-span-1 flex flex-col items-start">
                      <p class="font-bold">Đơn giá</p>
                      <p>12.000$</p>
                    </div>
                    <div class="col-span-1 flex flex-col items-center">
                      <p class="font-bold">SL</p>
                      <p>12</p>
                    </div>
                    <div class="col-span-1 flex flex-col items-end">
                      <p class="font-bold">Thành tiền</p>
                      <p>12.000.000$</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <nz-divider></nz-divider>
            <div class="flex items-center justify-between">
              <p class="font-bold">Phí ship:</p>
              <p class="font-bold">12.000$</p>
            </div>
            <nz-divider></nz-divider>
            <div class="flex items-center justify-between">
              <h4 class="font-bold uppercase">Tổng thanh toán:</h4>
              <p class="font-bold">12.000$</p>
            </div>
          </nz-card>
          <button nz-button
                  class="w-full bg-sky-500 uppercase font-bold outline-0 mt-3 py-6 border-0 rounded flex items-center justify-center text-white">
            Đặt hàng
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currIndex === 2">
      <nz-result
        nzStatus="success"
        nzTitle="Successfully Purchased Cloud Server ECS!"
        nzSubTitle="Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait.">
        <div nz-result-extra>
          <button nz-button nzType="primary">Go Console</button>
          <button nz-button>Buy Again</button>
        </div>
      </nz-result>
    </ng-container>
  </div>
</div>
