<div class="w-full h-auto pt-5 flex items-stretch justify-start gap-5">
  <div class="hidden md:block lg:block xl:block w-72">
    <ul nz-menu nzMode="vertical" class="shadow-none bg-[#f5f6f8]">
      <li nz-menu-item class="flex items-center">
        <span nz-icon nzType="apple" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>
        <p>Apple</p>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="flex items-center">
        <span nz-icon nzType="apple" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>
        <p>Apple</p>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="flex items-center">
        <span nz-icon nzType="apple" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>
        <p>Apple</p>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="flex items-center">
        <span nz-icon nzType="apple" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>
        <p>Apple</p>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="flex items-center">
        <span nz-icon nzType="apple" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>
        <p>Apple</p>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="flex items-center">
        <span nz-icon nzType="apple" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>
        <p>Apple</p>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="py-2">
        <span nz-icon nzType="twitter" nzTheme="outline" class="text-2xl pr-2 flex items-center"></span>Twitter
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item>disabled menu item</li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-submenu nzTitle="sub menu">
        <ul>
          <li nz-menu-item>3rd menu item</li>
          <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
          <li nz-menu-item>4th menu item</li>
        </ul>
      </li>
      <li nz-menu-divider class="mx-2 bg-[#e1e1e1]"></li>
      <li nz-menu-item class="flex items-center">
        <p class="font-bold uppercase mb-0">View all categories ></p>
      </li>
    </ul>
  </div>
  <div class="self-stretch flex-1 ">
    <div class="h-full grid grid-cols-3 gap-5">
      <div class="col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-2 rounded-md">
        <ngx-slick-carousel class="carousel w-full h-full" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of sliders" class="slide h-full">
            <img [src]="slide.url" class="w-full max-h-[525px] min-h-[525px] object-fill rounded-md">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="col-span-3 md:col-auto lg:col-auto xl:col-auto">
        <div class="h-full grid gap-5">
          <div class="col-span-12 rounded-md">
            <img src="/assets/images/sliders/image-1.jpg"
                 class="w-full max-h-[252px] min-h-[252px] object-fill rounded-md">
          </div>
          <div class="col-span-12 rounded-md">
            <img src="/assets/images/sliders/image-1.jpg"
                 class="w-full max-h-[252px] min-h-[252px] object-fill rounded-md">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full h-auto pt-5">
  <div class="p-4 border rounded">
    <ngx-slick-carousel class="carousel w-full h-full" [config]="productConfig">
      <div ngxSlickItem *ngFor="let slide of sliders" class="slide h-full">
        <div class="flex items-center justify-center border-r">
          <img class="w-8 h-8 object-fill pr-2" src="/assets/images/svg_categories/icon-bag.svg">
          <div class="flex flex-col items-start justify-center">
            <p class="font-bold">Free shipping & Return</p>
            <p>For all orders over $99</p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<div class="w-full mt-5">
  <div class="w-full grid grid-cols-9">
    <div
      class="col-span-12 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <h3 class="font-bold text-lg uppercase">Deals Of The Day</h3>
    </div>
    <div
      class="col-span-12 md:col-span-2 lg:col-span-2 xl:col-span-2 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <p class="rounded bg-[#ffb639] text-white mb-0 p-1 text-sm">Offer end in <strong>9 days,23:50:24</strong></p>
    </div>
    <div
      class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-6 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
      <a class="flex items-center">
        More Products &#8594;
      </a>
    </div>
  </div>
  <nz-divider></nz-divider>
  <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
    <div ngxSlickItem *ngFor="let prod of products" class="slide">
      <div class="flex flex-col items-center justify-center px-4">
        <img [src]="prod.url" class="max-h-[285px] max-w-full object-fill">
        <p class="py-2">{{prod.name}}</p>
        <nz-rate [ngModel]="prod.rateView" class="py-1"></nz-rate>
        <div class="flex items-center justify-center">
          <p class="px-1 font-bold text-lg">{{prod.price | number}}</p><small>đ</small>
          <p class="line-through text-slate-300 px-2">{{prod.priceDiscount | number}}<small>đ</small></p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <ngx-slick-carousel class="carousel w-full mt-5" [config]="categoryConfig">
    <div ngxSlickItem *ngFor="let category of categories" class="slide">
      <div class="flex flex-col items-center justify-center px-4">
        <div class="flex items-center justify-center rounded-full border border-slate-200 hover:shadow-2xl p-8">
          <img [src]="category.url" class="max-h-[50px] min-h-[50px]">
        </div>
        <p class="py-2 font-bold">{{category.value}}</p>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="grid grid-cols-2 mt-10 gap-5">
    <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
      <img src="/assets/images/sliders/image-5.jpg" class="w-full max-h-44 rounded">
    </div>
    <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1">
      <img src="/assets/images/sliders/image-3.jpg" class="w-full max-h-44 rounded">
    </div>
  </div>
</div>
<div class="w-full mt-10">
  <div class="w-full grid grid-cols-9">
    <div class="col-span-9 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <h3 class="font-bold text-lg uppercase">Top weekly vendors</h3>
    </div>
  </div>
  <nz-divider></nz-divider>
  <ngx-slick-carousel class="carousel w-full" [config]="weeklyVendorConfig">
    <div ngxSlickItem *ngFor="let vendor of weeklyVendors" class="slide px-4">
      <div class="flex flex-col items-center justify-center rounded border border-slate-300 hover:shadow-2xl"
           (mouseenter)="vendor.isHover = true" (mouseleave)="vendor.isHover = false">
        <img [src]="vendor.url" class="h-44 w-full object-fill">
        <div class="w-full h-44 flex flex-col items-center justify-center">
          <h3 class="uppercase font-bold">{{vendor.name}}</h3>
          <p>{{vendor.value}} product</p>
        </div>
        <div class="fixed rounded-full z-10 bg-orange-400 w-24 h-24">
          <!--            <img [src]="vendor.brandUrl" class="w-20 h-20 object-contain">-->
        </div>
        <div class="absolute flex items-center justify-center rounded-full z-20 bg-white w-24 h-24"
             [class.top-28]="vendor.isHover">
          <img [src]="vendor.brandUrl" class="w-14 h-14 object-contain">
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<div class="w-full mt-20">
  <div class="w-full grid grid-cols-2">
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <h3 class="font-bold text-lg uppercase">Featured Products</h3>
    </div>
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
      <a class="flex items-center">
        More Products &#8594;
      </a>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="w-full grid grid-cols-4 grid-rows-3 gap-5">
    <div
      class="col-span-4 md:col-span-2 lg:col-span-2 xl:col-span-2 row-span-2 bg-white grid grid-cols-2 border">
      <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 p-3">
        <img src="/assets/images/products/product-2.jpg" class="h-full w-full">
      </div>
      <div class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 p-3">
        <p class="font-bold mb-0">Men's Season Blue Clothes</p>
        <nz-divider class="my-3"></nz-divider>
        <h3 class="font-bold">150,000 - 180,000</h3>
        <nz-rate [ngModel]="3.5" class="py-2"></nz-rate>
        <div class="flex items-center justify-start py-2">
          <p class="pr-3">Size:</p>
          <nz-radio-group>
            <label *ngFor="let opt of options" nz-radio-button>{{opt}}</label>
          </nz-radio-group>
        </div>
        <nz-divider class="my-3"></nz-divider>

      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
    <div class="col-span-4 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-start border p-3">
      <img src="/assets/images/products/product-1.jpg" class="h-full w-[180px]">
      <div class="flex flex-col items-start justify-center px-3">
        <p>Sản phẩm 1</p>
        <nz-rate [ngModel]="5"></nz-rate>
        <h3 class="font-bold">150,000</h3>
      </div>
    </div>
  </div>
</div>
<div class="w-full mt-16">
  <div class="grid grid-cols-1 mt-16 gap-5">
    <div class="col-span-1">
      <img src="/assets/images/sliders/image-5.jpg" class="w-full max-h-44 rounded">
    </div>
  </div>
</div>
<div class="w-full mt-14">
  <div class="w-full grid grid-cols-2">
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <h3 class="font-bold text-lg uppercase">Deals Of The Day</h3>
    </div>
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
      <a class="flex items-center">
        More Products &#8594;
      </a>
    </div>
  </div>
  <nz-divider></nz-divider>
  <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
    <div ngxSlickItem *ngFor="let prod of products" class="slide">
      <div class="flex flex-col items-center justify-center px-4">
        <img [src]="prod.url" class="max-h-[285px] max-w-full object-fill">
        <p class="py-2">{{prod.name}}</p>
        <nz-rate [ngModel]="prod.rateView" class="py-1"></nz-rate>
        <div class="flex items-center justify-center">
          <p class="px-1 font-bold text-lg">{{prod.price | number}}</p><small>đ</small>
          <p class="line-through text-slate-300 px-2">{{prod.priceDiscount | number}}<small>đ</small></p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<div class="w-full mt-14">
  <div class="w-full grid grid-cols-2">
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <h3 class="font-bold text-lg uppercase">Deals Of The Day</h3>
    </div>
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
      <a class="flex items-center">
        More Products &#8594;
      </a>
    </div>
  </div>
  <nz-divider></nz-divider>
  <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
    <div ngxSlickItem *ngFor="let prod of products" class="slide">
      <div class="flex flex-col items-center justify-center px-4">
        <img [src]="prod.url" class="max-h-[285px] max-w-full object-fill">
        <p class="py-2">{{prod.name}}</p>
        <nz-rate [ngModel]="prod.rateView" class="py-1"></nz-rate>
        <div class="flex items-center justify-center">
          <p class="px-1 font-bold text-lg">{{prod.price | number}}</p><small>đ</small>
          <p class="line-through text-slate-300 px-2">{{prod.priceDiscount | number}}<small>đ</small></p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<div class="w-full mt-14">
  <div class="w-full grid grid-cols-2">
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-start lg:justify-start xl:justify-start">
      <h3 class="font-bold text-lg uppercase">From Ours Blog</h3>
    </div>
    <div
      class="col-span-2 md:col-span-1 lg:col-span-1 xl:col-span-1 flex items-center justify-center md:justify-end lg:justify-end xl:justify-end">
      <a class="flex items-center">
        View All &#8594;
      </a>
    </div>
  </div>
  <nz-divider></nz-divider>
  <ngx-slick-carousel class="carousel w-full" [config]="productConfig">
    <div ngxSlickItem *ngFor="let prod of products" class="slide">
      <div class="flex flex-col items-center justify-center px-4 hover:shadow-2xl">
        <img [src]="prod.url" class="max-h-[285px] max-w-full object-fill">
        <p class="py-2">{{prod.name}}</p>
        <div class="flex items-center justify-center pt-1">
          <a class="text-gray-400 hover:border-b-2 hover:border-black hover:transition-shadow hover:duration-500">Read more &#8594;</a>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
