<ng-template #cardTitle>
  <form nz-form class="w-full">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSpan]="8">
        <nz-form-item class="mb-0">
          <nz-form-label [nzSpan]="10" class="text-left">
            Nhập tên hoặc SĐT
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="search" type="text" id="search" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="mb-0">
          <nz-form-label [nzSpan]="6" class="text-left"> Quyền </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select>
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #cardExtra>
  <div class="flex items-center justify-end gap-2.5">
    <button nz-button nzType="default">Đặt lại</button>
    <button nz-button nzType="primary">Tìm kiếm</button>
  </div>
</ng-template>
<ng-template #noResult>
  <nz-empty
    class="text-slate-300"
    [nzNotFoundContent]="'Không có dữ liệu'"
  ></nz-empty>
</ng-template>
<nz-card class="w-full h-full" [nzTitle]="cardTitle" [nzExtra]="cardExtra">
  <nz-table
    #basicTable
    [nzSize]="'small'"
    [nzData]="data?.data"
    [nzNoResult]="noResult"
    [nzShowPagination]="true"
    [nzTotal]="data?.total || 0"
    [nzPageSize]="data?.pageSize || 10"
    [nzPageIndex]="data?.page || 1"
    (nzPageIndexChange)="data($event)"
    [nzScroll]="{ y: '550px' }"
  >
    <thead>
      <tr>
        <th>Mã</th>
        <th>Họ và tên</th>
        <th>Sđt</th>
        <th>Trình độ giáo dục</th>
        <th>Chuyên ngành</th>
        <th>Trạng thái</th>
        <th>Thời gian thất nghiệp</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{ item.id }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.tel }}</td>
        <td>Đại học</td>
        <td>IT</td>
        <td>
          <ng-container>
            <nz-tag *ngIf="item.status === 'active'" nzColor="success">
              Đang có việc làm
            </nz-tag>
            <nz-tag *ngIf="item.status === 'inactive'" nzColor="success">
              Đang thất nghiệp
            </nz-tag>
          </ng-container>
        </td>
        <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="flex items-center gap-2">
            <button
              nz-button
              nzShape="circle"
              nzType="default"
              (click)="onEdit(item)"
            >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <button
              nz-button
              nz-popconfirm
              nzPopconfirmTitle="Bạn có chắc muốn xóa?"
              nzShape="circle"
              nzType="default"
              nzPopconfirmPlacement="topRight"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
