<nz-modal nzCentered [nzVisible]="visible" [nzContent]="content" [nzFooter]="null" (nzOnCancel)="visible = false">
  <ng-template #content>
    <nz-tabset nzSize="large" nzCentered>
      <nz-tab nzTitle="ĐĂNG NHẬP">
        <form nz-form [formGroup]="loginForm" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label>Username or email address *</nz-form-label>
            <nz-form-control>
              <input nz-input class="w-full" nzSize="large" formControlName="email">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Password</nz-form-label>
            <nz-form-control>
              <input nz-input class="w-full" nzSize="large" formControlName="password">
            </nz-form-control>
          </nz-form-item>
          <div class="w-full flex items-center justify-between">
            <div class="flex items-center justify-start">
              <input type="checkbox" formControlName="remember">
              <span class="pl-2">Remember me</span>
            </div>
            <a>Forgot password</a>
          </div>
          <button (click)="onLogin()" class="w-full uppercase bg-sky-700 text-white py-3 mt-6 font-bold">Sign in</button>
        </form>
      </nz-tab>
      <nz-tab nzTitle="ĐĂNG KÝ">
        <form nz-form [formGroup]="registerForm" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label>Username or email address *</nz-form-label>
            <nz-form-control>
              <input nz-input class="w-full" nzSize="large" formControlName="email">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Password</nz-form-label>
            <nz-form-control>
              <input nz-input class="w-full" nzSize="large" formControlName="password">
            </nz-form-control>
          </nz-form-item>
          <p class="mb-0 pb-5">
            Your personal data will be used to support your experience throughout this website, to manage access to your
            account, and for other purposes described in our privacy policy.
          </p>
          <div class="flex items-center justify-start">
            <input type="checkbox" formControlName="acceptPolicy">
            <span class="pl-2">I agree to the <a class="text-blue-500 underline">privacy policy</a></span>
          </div>
          <button (click)="onRegister()" class="w-full uppercase bg-sky-700 text-white py-3 mt-6 font-bold">Sign up</button>
        </form>
      </nz-tab>
    </nz-tabset>
  </ng-template>
</nz-modal>
