<div class="w-full bg-[#f5f6f8] px-3 md:px-32 lg:px-32 xl:px-32">
  <div class="container mx-auto">
    <div class="flex items-center	justify-between">
      <marquee class="py-3.5 uppercase max-w-md">Welcome to WOLMART STORE MESSAGE OR REMOVE IT!</marquee>
      <div class="flex items-center justify-end">
        <a nz-dropdown [nzDropdownMenu]="menu" class="flex items-center justify-start px-2">
          <img src="/assets/images/vm-flag.gif" class="w-4 object-fill">
          <p class="mb-0 px-1">VI</p>
          <span nz-icon nzType="down" nzTheme="outline" class="text-[8px]"></span>
        </a>
        <nz-divider nzType="vertical" class="bg-slate-400"></nz-divider>
        <a class="px-2">Blog</a>
        <a class="px-2">ContactUs</a>
        <a class="px-2">My contact</a>
        <a class="px-2 flex items-center" (click)="isLogin = true">
          <span nz-icon nzType="user" nzTheme="outline" class="pr-1"></span>Sign in/Register
        </a>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <div class="flex items-center justify-start">
                <img src="/assets/images/vm-flag.gif" class="w-4 object-fill">
                <p class="mb-0 px-1">VI</p>
              </div>
            </li>
            <li nz-menu-item>
              <div class="flex items-center justify-start">
                <img src="/assets/images/uk-flag.webp" class="w-4 object-fill">
                <p class="mb-0 px-1">ENG</p>
              </div>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</div>
<div class="w-full bg-white py-4 px-3 md:px-32 lg:px-32 xl:px-32">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <a class="sm:block md:hidden lg:hidden xl:hidden px-2">
        <span nz-icon nzType="menu" nzTheme="outline" class="text-2xl"></span>
      </a>
      <img src="/assets/images/logo.png" class="w-12 md:w-20 object-fill p-2">
      <div class="hidden md:flex lg:flex xl:flex flex-1 items-center justify-start p-2 border mx-10">
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuCategory"
           class="w-1/4 flex items-center justify-between">
          All categories
          <span nz-icon nzType="down"></span>
        </a>
        <nz-divider nzType="vertical" class="h-8 bg-slate-200 mx-3"></nz-divider>
        <input type="text" nz-input class="border-0" placeholder="Nhập tìm kiếm..."/>
        <span nz-icon nzType="search" nzTheme="outline" class="text-2xl flex items-center"></span>
        <nz-dropdown-menu #menuCategory="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="flex items-center justify-end">
        <div class="hidden md:flex lg:flex xl:flex items-center justify-start">
          <span nz-icon nzType="phone" nzTheme="outline" [nzRotate]="110"
                class="flex items-center px-1 text-3xl"></span>
          <div class="flex flex-col items-start justify-center">
            <p><strong>Live chat</strong> or:</p>
            <strong>0988999888</strong>
          </div>
          <nz-divider nzType="vertical" class="mx-4 h-8 bg-slate-200"></nz-divider>
          <a class="flex flex-col items-center justify-center px-3">
            <span nz-icon nzType="heart" nzTheme="outline" class="text-xl"></span>
            <p class="mb-0 text-xs">Wishlist</p>
          </a>
          <a class="flex flex-col items-center justify-center px-3">
            <span nz-icon nzType="heart" nzTheme="outline" class="text-xl"></span>
            <p class="mb-0 text-xs">Wishlist</p>
          </a>
        </div>
        <a class="flex flex-col items-center justify-center px-3" (click)="isCart = true">
          <nz-badge [nzCount]="5">
            <span nz-icon nzType="shopping" nzTheme="outline" class="text-xl"></span>
          </nz-badge>
          <p class="mb-0 text-xs">Cart</p>
        </a>
      </div>
    </div>
  </div>
</div>
<app-login [visible]="isLogin"></app-login>
<nz-drawer [nzVisible]="isCart" [nzTitle]="title" [nzExtra]="extra" [nzClosable]="false">
  <ng-template #title>
    <h3 class="font-bold text-xl uppercase">Shopping cart</h3>
  </ng-template>
  <ng-template #extra>
    <a (click)="isCart = false">Close &#8594;</a>
  </ng-template>
  <ng-container *ngFor="let prod of products">
    
  </ng-container>
</nz-drawer>
