<div [class]="'flex flex-col items-center justify-center relative p-6 rounded ' + styleClass"
     (mouseenter)="isHover = true" (mouseleave)="isHover = false">
  <img [src]="product?.url" class="max-h-[285px] max-w-full object-fill">
  <a class="py-2">{{product?.name}}</a>
  <nz-rate [ngModel]="product?.rateView" class="py-1" [ngModelOptions]="{standalone:true}"
           [name]="'prod-' + product?.name + product?.id" nzDisabled></nz-rate>
  <div class="flex items-center justify-center">
    <p class="px-1 font-bold text-lg">{{product?.price | number}}</p><small>đ</small>
    <p class="line-through text-slate-300 px-2">{{product?.priceDiscount | number}}<small>đ</small></p>
  </div>
  <ng-container *ngIf="!disableQuickAction">
    <div class="h-fit p-2 bg-white rounded flex flex-col items-center absolute top-8 right-8 z-[2] shadow-xl"
         [class.hidden]="!isHover">
      <a class="text-xl flex items-center justify-center p-2" (click)="createBasicNotification(addProductToCart)">
        <span nz-icon nzType="shopping" nzTheme="outline"></span>
      </a>
      <a class="text-xl flex items-center justify-center p-2">
        <span nz-icon nzType="heart" nzTheme="outline"></span>
      </a>
      <a class="text-xl flex items-center justify-center p-2">
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </a>
    </div>
  </ng-container>
</div>
<ng-template #addProductToCart>
  <div class="flex flex-col items-start justify-center p-2 bg-white">
    <div class="flex items-stretch justify-start">
      <div class="flex items-center justify-center w-20 h-24 p-2 bg-slate-300">
        <img [src]="product?.url" class="object-fill">
      </div>
      <div class="flex flex-col items-start px-3">
        <h3 class="font-bold text-xl">{{product?.name}}</h3>
        <p>Đã được thêm vào giỏ hàng</p>
      </div>
    </div>
    <div class="flex items-center justify-between pt-4">
      <button class="p-3 uppercase text-white bg-sky-700 flex items-center" nz-button>View cart</button>
      <button class="p-3 uppercase text-white bg-gray-600 flex items-center" nz-button>Check out</button>
    </div>
  </div>
</ng-template>
